.banner-inscription {
    background-image: url(public/src/assets/images/tennis.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%; 
    min-height: 60vh; 
}
