@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(244, 242, 242);
  font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3,p{
  font-weight:200;
}
h1{
  font-size: 60px ;
  text-shadow: 5px 5px 5px black ;
}
h2{
  font-size: 30px ;
  font-weight:600;
}
.btn{
  background-color: #AACC00;
  width:100px;
  height: 35px;
}
.btn-2{
  background-color: #AACC00;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  color: white;
}
.nav-active{
  color: #AACC00;
}
.input-text{
  width: 100%;
  height: 30px;
  border-radius: 5px;
}
.general-block{
  margin-top: 4em;
}

/* top-banner component */
.top-banner{
  background-image: url(assets/images/piotr-osmenda-20K-JZ2ppbE-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 40rem;
  
}

/* slider sport component  */
.swiper {
  width: 83%;
  height: 100%;
}


