.banner-register {
    background-image: url("src/assets/images/runningSolo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.block-signup{
    height: 100vh;
}
